/***************
RESET CSS
***************/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none}

/***************
FONTS
***************/

@font-face {
  font-family: 'polya';
  src: url('../fonts/POLYA.eot');
  src: url('../fonts/POLYA.otf') format('truetype'),
       url('../fonts/POLYA.ttf') format('embedded-opentype'),
       url('../fonts/POLYA.woff') format('woff'),
       url('../fonts/POLYA.woff2') format('woff2');
}

/***************
GLOBAL
***************/
body {
  font-family: Helvetica, sans-serif;
  background-color: #121639;
}
#share,
#init {
  width: 100vw;
  height: 100vh;
}
.hidden {
  display: none;
}
.visible {
  display: inherit;
}
header {
  h1 {
    color: #E3312D;
    padding-top: 6vh;
    margin-left: 15vw;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
  }
}
#share {
  #results {
    position: absolute;
    width: 100vw;
    height: 100vh;
    img {
      width: 45vw;
      height: 60vh;
      object-fit: cover;
      left: 50%;
      top: 13vh;
      position: absolute;
      transform: translateX(-50%);
      border: 1.4em solid #FFF;
      border-bottom: 5em solid #FFF;
    }
  }
  .blur {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(44, 62, 80,.2);
    .details {
      position: absolute;
      top: 50vh;
      left: 50vw;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .text {
    padding-top: 10vh;
    z-index: -1;
    position: relative;
    h5 {
      font-size: 7.5vh;
      color: rgba(227, 49, 45, .6);
      font-family: 'Montserrat';
      position: absolute;
      transform: translateX(-100%);
      left: 0;
    }
  }
}

#init {
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    h3 {
      font-size: 4em;
      color: #FFF;
      font-family: 'polya', sans-serif;
      margin-bottom: .3em;
    }
  }
}

#infos {
  i.icon {
    position: absolute;
    bottom: 3.2vw;
    left: 3.2vw;
    height: 1.7vw;
    width: 1.7vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../icons/information.svg");
  }
  #box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #FFF;
    border-radius: 3px;
    width: 40vw;
    font-family: 'Montserrat', sans-serif;
    .text {
      padding: 2em 3em;
      h4 {
        padding-bottom: 1em;
        text-align: center;
        display: block;
        font-size: 1.3em;
        font-weight: 600;
      }
      p {
        padding-bottom: .8em;
        font-weight: 300;
        b {
          font-weight: 400;
        }
        a {
          font-weight: 400;
          color: #C34489;
        }
      }
    }
    .close {
      text-align: center;
      display: block;
      color: #FFF;
      background-color: #e74c3c;
      padding: 1em 0;
      border-radius: 0 0 3px 3px;
      font-size: 1em;
      cursor: pointer;
    }
  }
}
#blur {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(0, 0, 0, .3);
}
